* {
  margin: 0px;
}

body {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: dodgerblue;
  margin: 0px 10px;
  overflow: hidden;
}

h1 {
  font-size: 100px;
  color: white;
}

a {
  color: rgba(60,56,58,1);
}

.button {
  height: 80px;
  width: 300px;
  background: red;
  display: block;
}

.button:hover {
  background: yellow;
}